#root {
    width: 100%;
    height: 100%;
    align-self: start;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #242424;
}

a:hover {
    text-decoration: none;
    color: white;
}

.MuiTableContainer-root {
    width: 100%;
    display: flex;
    justify-content: center;
}

.MuiTableCell-root {
    width: 2.5vw;
    height: 2.5vw;
}
